/* <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
<style>
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }
</style> */
body{
    background-color: hsl(228, 33%, 97%);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.commentBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 20px 20px 20px 20px;
    padding: 30px; 
    margin: 20px; 
    border-radius: 2%;
    background-color: white;
    width: 600px;
    height: 100px;
    font-family: 'Rubik', sans-serif;
    font: 16px; 
    
}
 
.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color:  hsl(228, 33%, 97%);
    padding: 8px; 
    padding-bottom: 10px;
    border-radius: 10%;
    width: 20px; 
    height: 80px; 
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 2;
}

button{
    border: none;
    background-color:  hsl(228, 33%, 97%);
    font-family: 'Rubik', sans-serif;
}

.numberOnButton{
    color: hsl(238, 40%, 52%);
    align-self: center;
    font-weight: 500;
}


.profilePic{
    width: 30px;
    height: 30px;
    padding-top: 5px;   
    grid-column-start: 2;
    grid-row-start: 1;
    order: 1;
    margin-left: 20px;
}

.username{
    color: black;
    grid-column-start: 3;
    grid-row-start: 1;
    order: 2;
    padding-bottom: 20px;
    font-size: 16;
    font-weight: 500;

}

.date{
    color:  hsl(211, 10%, 45%);
    grid-column-start: 4;
}

.commentText{
    color:  hsl(211, 10%, 45%);
    background-color: purple;
    width: 510px; 
    height: 60px;
    font-size: 16px;
    font-weight: 400;
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 4;
    order: 4;
    margin-left: 20px;

}